* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-color: #888;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
}

.modal-backdrop.show {
    opacity: 1;
    visibility: visible;
}

.modal-container {
    background-color: #fff;
    max-width: 70%;
    width: min(300px, 70%);
    min-height: 30%;
    max-height: 80%;
    padding: 20px;
    border-radius: 10px;
    transform: scale(0);
    transition: all 0.3s linear;
}

.modal-backdrop.show .modal-container {
    transform: scale(1);
}

.modal-header {
    display: flex;
    justify-content: end;
}

.modal-header .close {
    height: 30px;
    width: 30px;
    background-color: #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-weight: 800;
    font-size: 2rem;
    cursor: pointer;
    border: none;
}

.modal-header .close:hover {
    opacity: 0.9;
}

.modal-body {
    margin-top: 10px;
    max-height: 400px;
    overflow-y: auto;
}

.show-modal {
    padding: 4px 6px;
    margin: 8px;
    cursor: pointer;
    font-weight: 800;
    border-radius: 8px;
    border: solid 1px #ccc;
    background-color: #fefefe;
}

.show-modal:hover {
    opacity: 0.8;
}
